body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #e5e7eb;
  text-align: center;
}

header {
  background: #020617;
  padding: 20px;
}

h1 {
  margin: 0;
}

.card {
  background: #020617;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.center {
  max-width: 400px;
  margin: auto;
}

.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background: #22c55e;
  color: #020617;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

#box {
  width: 200px;
  height: 200px;
  background: red;
  line-height: 200px;
  margin: 20px auto;
  font-weight: bold;
}
